@import "tailwindcss";

/* small global fixes to avoid white gaps */
html, body, #root {
  height: 100%;
  margin: 0;
  background: transparent;
}

/* optional font smoothing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to bottom right,#12c2e9, #c471ed, #f64f59);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
